# The contents of this file is based on https://github.com/home-assistant/core/blob/dev/pyproject.toml

target-version = "py313"

[lint]
select = [
    "ALL",
]

ignore = [
    "ANN401",
    "D203",
    "D212",
    "COM812",
    "ISC001",
    "TC002",
    "TC003",
    "S101",
    "ERA001",
    "TRY400",
    "FBT003",
    "PLR0913",
    "PLR0912",
    "PLR0915",
    "SIM102",
    "PLR2004",
    "ARG002",
    "ARG001",
    "DTZ011",
    "PLE1205",
]

[lint.flake8-pytest-style]
fixture-parentheses = false

[lint.pyupgrade]
keep-runtime-typing = true

[lint.mccabe]
max-complexity = 25
